.image-object-index {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  padding: 1rem;
}
.image-object-index h2 {
  text-align: center;
}
.image-object-index .controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  transform: translateX(100%);
  transition: transform 1s ease-in-out;
  color: var(--2nd-color);
  background-color: var(--2nd-bg-color);
  border-radius: var(--section1-border-radius);
}
.image-object-index .controls .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 0.5rem;
  padding: 0.5rem;
  color: var(--3rd-color);
  background-color: var(--3rd-bg-color);
  border-radius: var(--section2-border-radius);
}
.image-object-index .controls .controls-toggle {
  position: absolute;
  top: 50%;
  right: 100%;
  background-color: var(--nav-bg-color);
  display: grid;
  place-content: center;
  border-radius: 50%;
  animation: side-bar-animation 1s ease-in-out 0s infinite alternate-reverse;
}
.image-object-index .controls .controls-toggle:active {
  box-shadow: 0 0 1rem var(--nav-bg-color);
}
.image-object-index .controls .controls-toggle svg {
  height: 2rem;
  width: 2rem;
  fill: var(--nav-color);
  stroke: var(--nav-color);
  transition: transform 1s ease-in-out;
  transform: rotate(180deg);
}
.image-object-index .controls-show {
  transform: translateX(0%);
}
.image-object-index .controls-show .controls-toggle svg {
  transform: rotate(0deg);
}
.image-object-index .table-container {
  padding: 0.5rem;
  display: grid;
  gap: 0.5rem;
  width: 100%;
  overflow-x: auto;
  color: var(--2nd-color);
  background-color: var(--2nd-bg-color);
  border-radius: var(--section1-border-radius);
}
.image-object-index .table-container table tbody .clickable {
  cursor: pointer;
}
.image-object-index .table-container table .left {
  text-align: left;
}
.image-object-index .table-container table .right {
  text-align: right;
}
.image-object-index .table-container .no-data-found {
  color: white;
  background-color: red;
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.5rem 0rem;
  border-radius: 0.5rem;
}
.image-object-index .table-container nav {
  background: none;
  border-radius: var(--section2-border-radius);
}
.image-object-index .table-container nav .pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.25rem;
  border-radius: var(--section3-border-radius);
}
.image-object-index .table-container nav .pagination .page-item {
  background-color: var(--nav-bg-color);
  color: var(--nav-color);
  border-radius: var(--section3-border-radius);
}
.image-object-index .table-container nav .pagination .page-item:hover {
  color: var(--nav-bg-color);
  background-color: var(--nav-color);
}
.image-object-index .table-container nav .pagination .page-item .page-link {
  padding: 0.5rem;
  display: block;
  text-decoration: none;
  color: inherit;
}
.image-object-index .table-container nav .pagination .active, .image-object-index .table-container nav .pagination .disabled {
  background: none;
  color: var(--nav-color);
  filter: saturate(50%) hue-rotate(120deg);
  border-radius: var(--section3-border-radius);
}
.image-object-index .table-container nav .pagination .active:hover, .image-object-index .table-container nav .pagination .disabled:hover {
  background: none;
  color: var(--nav-color);
}
.image-object-index .table-container nav .pagination .active {
  border: 0.1rem solid var(--nav-bg-color);
}

@media screen and (min-width: 960px) {
  .image-object-index .controls {
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    position: static;
    gap: 0.5rem;
    padding: 0.5rem;
    transform: translateX(0%);
    z-index: inherit;
  }
  .image-object-index .controls .form-group {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.5rem;
    padding: 0rem;
    color: inherit;
    background-color: inherit;
    border-radius: none;
  }
  .image-object-index .controls .form-group label {
    white-space: nowrap;
  }
  .image-object-index .controls .stretch {
    flex-grow: 1;
  }
  .image-object-index .controls .controls-toggle {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */