.sell-create{ 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 1rem;

    form{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
        width: 100%;

        background-color: var(--2nd-bg-color);
        color: var(--2nd-color);

        // legend{
        // }

        .customer-info,.products-info{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            padding: .5rem;
            gap: .5rem;

            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);
            border-radius: var(--section2-border-radius);

            .form-group{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: stretch;
                gap: .5rem;
                padding: .5rem;

                background-color: var(--4th-bg-color);
                color: var(--4th-color);
                border-radius: var(--section3-border-radius);

                // label{

                // }

                input[type=number]{
                    text-align: right;
                }

                // datalist{

                // }

                span{
                    text-align: right;
                }

                .error{
                    text-align: left;
                }
            }
        }

        .sell-orders{
            width: 100%;
            overflow-x: auto;
            padding: .5rem;

            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);
            border-radius: var(--section2-border-radius);

            table{
                background-color: var(--4th-bg-color);
                color: var(--4th-color);

                button{
                    width: 38px;
                    aspect-ratio: 1;
                }
            }
        }
        
        .button-container{
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);
            border-radius: var(--section2-border-radius);
        }
    }
}

// @media screen and (min-width: 720px) {
// }
@media screen and (min-width: 960px) {
    .sell-create{     
        form{      
            .customer-info,.products-info{
                flex-direction: row;
                justify-content: flex-start;
                align-items: stretch;
    
                .form-group{
                    flex-grow: 1;
                    justify-content: flex-end;

                    label{
                        white-space: nowrap;
                    }
    
                    span{
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
// @media screen and (min-width: 1200px) {
// }