.sell-show{ 
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100%;
    width: 100%;
    padding: 1rem; 

    .top{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;

        h2{
            // flex-grow: 1;
            text-align: center;
        }

        .button-container{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .5rem;
            gap: .5rem;
            
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);
            border-radius: var(--section3-border-radius);
    
            a,button{
                flex-grow: 1;
                text-align: center;
            }
        }
    }

    .infos{ 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        padding: .5rem;
        gap: .5rem;
        
        background-color: var(--3rd-bg-color);
        color: var(--3rd-color);
        border-radius: var(--section2-border-radius);

        .info{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;
            gap: .5rem;
            border: none;
            
            background-color: var(--4th-bg-color);
            color: var(--4th-color);
            border-radius: var(--section3-border-radius);
            
            label{
                font-weight: bolder;
            }
            
            span{
                text-align: right;
                border-bottom: 1px dashed black;
                flex-grow: 1;
            }
        }        
    }

    .sell-orders{
        padding: .5rem;   

        background-color: var(--3rd-bg-color);
        color: var(--3rd-color);
        border-radius: var(--section2-border-radius);

        .table-container{
            width: 100%;
            overflow-x: auto;
        }
        
        .infos{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            padding: .5rem;
            gap: 0rem;
            
            background-color: var(--4th-bg-color);
            color: var(--4th-color);
            border-radius: var(--section3-border-radius);
            
            .sides{
                display: grid;
                gap: .5rem;
                padding: .5rem;

                &:first-child{
                    padding-bottom: 0;
                }
                
                background-color: var(--5th-bg-color);
                color: var(--5th-color);
                border-radius: var(--section3-border-radius);

                .info{
                    padding: .5rem;
                    
                    background-color: var(--6th-bg-color);
                    color: var(--6th-color);
                    border-radius: var(--section3-border-radius);

                    label{
                        font-weight: bolder;
                    }
                    
                    span{
                        text-align: right;
                    }
                }
            }
        }
    }
}

.sell-delete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;   
    transition: all 1s;
    transform: translateY(-100%);
    backdrop-filter: blur(2px);
    
    color: var(--1st-color);
    background-color: hsla(var(--1st-bg-color-hue), var(--1st-bg-color-saturation), var(--1st-bg-color-light), .5);
    
    form{
        border: .1rem solid gray;
        padding: 1rem;
        max-width: 90%;
        display: grid;
        gap: .5rem;
        backdrop-filter: blur(1px);
        
        background-color: var(--2nd-bg-color);
        color: var(--2nd-color);

        legend{
            text-align: center;
        }

        .form-group{
            padding: .5rem;
            
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);

            label{
                margin: 0;
            }
        }
        
        .button-container{
            padding: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);
        }
    }
}

.delete-show{
    transform: translateY(0%);
}

@media screen and (min-width: 720px) {
    .sell-show{     
        .top{  
            flex-direction: row;
            align-items: center;

            h2{
                text-align: left;
            }
    
            .button-container{        
                a,button{
                    flex-grow: unset;
                }
            }
        }
    
        .infos{    
            flex-direction: row; 
            .info{  
                flex-grow: 1;              
                label{
                }
                
                span{
                }
            }        
        }
    
        .sell-orders{    
            .table-container{
            }
            
            .infos{   
                flex-direction: row;  
                justify-content: center;
                align-items: flex-start;                 
                gap: .5rem;

                .sides{    
                    width: 50%;

                    &:first-child{
                        padding-bottom: .5rem;
                    }

                    .info{    
                        label{
                        }
                        
                        span{
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .sell-show{     
        .top{  
            h2{
                text-align: center;
                flex-grow: 1;
            }
    
            .button-container{        
                a,button{
                }
            }
        }
    
        .infos{    
            .info{             
                label{
                }
                
                span{
                }
            }        
        }
    
        .sell-orders{    
            .table-container{
            }
            
            .infos{   
                .sides{    
                    &:first-child{
                    }

                    .info{    
                        label{
                        }
                        
                        span{
                        }
                    }
                }
            }
        }
    }
}

// @media screen and (min-width: 1200px) {
// }