.cart-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: hsl(0, 0%, 75%), $alpha: .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -30;
    opacity: 0;    
    transition: z-index .25s ease-in-out,
                opacity .75s ease-in-out .25s;
    
    .cart{
        background: hsl(0, 0%, 75%);
        padding: 1rem;
        border: .1rem solid gray;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
        max-width: 100%;
    
        .table-container{
            max-height: 75vh;
            max-width: 100%;
            overflow: auto;
            position: relative;
            
            table{
                margin: 0;
                max-width: fit-content;
        
                thead{
                    position: sticky;
                    top: 0;
    
                    th{
                        text-align: center;
                        vertical-align: middle;
                        white-space: nowrap;
                    }
                }
        
                tbody{    
                    tr{    
                        td{
                            text-align: center;
                            vertical-align: middle;
                            white-space: nowrap;
        
                            button{
                                width: 38px;
                                aspect-ratio: 1;
                            }
                        }                
                    }
                }
        
                tfoot{
                    position: sticky;
                    bottom: 0;
    
                    tr{
                        td{
                            text-align: center;
                            vertical-align: middle;
                            font-weight: bold;
                            white-space: nowrap;
    
                            input{
                                width: 2rem;
                            }
        
                            span{
                                font-weight: normal;
                            }                    
                        }
                    }
                }
        
                .left{
                    text-align: right;
                }
        
                .right{
                    text-align: right;
                }
            }
        }    
    
        .btn-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            background: white;
            padding: .5rem;
        }
    }
}

.show{
    opacity: 1;
    z-index: 30;
}