.home{ 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;

    main{     
        // background-image: url(/image/main_bg.jpg); 
        background-position: center;
        object-fit: cover;
        background-size: cover;
        height: 75vh;
        width: 100%;
        display: grid;
        place-content: center;

        border-radius: var(--section1-border-radius);

        h1{
            color: var(--banner-color);
            font-size: var(--banner-font-size);
            font-weight: var(--banner-font-weight);
        }
    }    

    .products{
        display: grid;
        gap: .5rem;
        padding: .5rem;

        background-color: var(--3rd-bg-color);
        color: var(--3rd-color);
        border-radius: var(--section1-border-radius);
        
        h2{
            text-align: center;
        }
        
        .search-bar{
            padding: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            gap: .5rem;
            
            background-color: var(--4th-bg-color);
            color: var(--4th-color);
            border-radius: var(--section2-border-radius);
            
            .form-group{
                padding: .5rem;

                background-color: var(--5th-bg-color);
                color: var(--5th-color);
                border-radius: var(--section2-border-radius);
    
                .result{    
                    position: relative;

                    ul{
                        position: absolute;
                        top: 100;  
                        width: 100%;
                        margin-top: -.5rem;

                        background-color: var(--6th-bg-color);
                        color: var(--6th-color);
                        
                        li{    
                            list-style: none;
                            padding: .5rem 1rem;
                            border: .1rem solid var(--6th-color);
                            
                            &:hover{
                                cursor: pointer;
                                color: var(--6th-bg-color);
                                background-color: var(--6th-color);
                            }
                        }
                    }
                }
            }
        }

        .products-list{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
            padding: .5rem;
            gap: .5rem;

            background-color: var(--4th-bg-color);
            color: var(--4th-color);
            border-radius: var(--section2-border-radius);
            
            article{
                padding: .5rem;
                display: grid;
                gap: .25rem;
                transition: all .5s;

                background-color: var(--5th-bg-color);
                color: var(--5th-color);
                border-radius: var(--section3-border-radius);
                
                header{
                    padding: .5rem;

                    background-color: var(--6th-bg-color);
                    color: var(--6th-color);
                    border-radius: var(--section3-border-radius);

                    h3{
                        text-align: center;
                    }
                }
                
                section{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: .5rem;

                    background-color: var(--6th-bg-color);
                    color: var(--6th-color);
                    border-radius: var(--section3-border-radius);

                    img{
                        max-width: 100%;
                        border-radius: var(--section3-border-radius);
                    }

                    span{
                        font-size: large;
                        font-weight: bold;
                    }
                }
                
                footer{
                    padding: .5rem;

                    background-color: var(--6th-bg-color);
                    color: var(--6th-color);
                    border-radius: var(--section3-border-radius);

                    .button-container{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: center;
                        gap: .5rem;
                    }                  
                }

                &:hover{
                    cursor: pointer;
                    transform: translateY(-5px);
                    box-shadow: 5px 5px 5px gray;

                    color: var(--5th-bg-color);
                    background-color: var(--5th-color);
                }
            }

            .no-data-found{
                color: red;
                font-size: 20px;
                font-weight: 900;
            }
        }        
    }    
}

.product-details{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: all 1s;
    z-index: 30;
    backdrop-filter: blur(2px);

    background: hsla(var(--1st-bg-color-hue), var(--1st-bg-color-saturation), var(--1st-bg-color-light), .75);
    color: var(--1st-color);

    article{
        min-width: 300px;
        max-width: 90%;
        max-height: 90vh;
        overflow-y: auto;
        padding: 1rem;
        display: grid;
        gap: .5rem;
        transition: all .5s;

        background-color: var(--2nd-bg-color);
        color: var(--2nd-color);
        border-radius: var(--section1-border-radius);
        
        header{
            padding: .5rem;
            
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);
            border-radius: var(--section2-border-radius);
            
            h3{
                text-align: center;
            }
        }
        
        section{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: .5rem;
            max-height: 50vh;
            overflow-y: auto;
            gap: .5rem;
            overflow-y: auto;

            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);
            border-radius: var(--section2-border-radius);
            
            img{
                width: 100%;
                max-width: 500px;
                aspect-ratio: 16/9;
                object-fit: cover;
                padding: .5rem;

                border-radius: var(--section3-border-radius);
                background-color: var(--4th-bg-color);
                color: var(--4th-color);
            }

            span{                
                font-size: large;
                font-weight: bold;
            }

            .product-summery{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: .5rem;
                padding: .5rem;

                border-radius: var(--section3-border-radius);
                background-color: var(--4th-bg-color);
                color: var(--4th-color);

                h4,p{
                    text-align: center;
                }
            }
        }
        
        footer{
            padding: .5rem;

            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);
            border-radius: var(--section2-border-radius);

            .button-container{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                gap: .5rem;
            }                  
        }
    }
}

.product-show{
    transform: translateY(0%);
}

@media screen and (min-width: 720px) {
    .home{
        .products{
            .search-bar{
                flex-direction: row;
                align-items: center;

                .form-group{
                    flex-grow: 1;
                }
            }
        }
    }
}

// @media screen and (min-width: 960px) {
//     .home{
//         main{
//             h1{

//             }
//         }

//         .products{
//             h2{

//             }

//             .search-bar{
//                 .form-group{
//                     label{

//                     }

//                     input{
//                         .result{
//                             ul{

//                             }
//                         }
//                     }
//                 }
//             }

//             .products-list{
//                 article{
//                     header{
//                         h3{

//                         }
//                     }

//                     section{
//                         img{
//                             span{

//                             }
//                         }
//                     }

//                     footer{
//                         .button-container{
//                             .button{
                                
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     .product-details{    
//         article{            
//             header{                
//                 h3{
//                 }
//             }
            
//             section{                
//                 img{
//                 }
    
//                 span{                
//                 }
    
//                 .product-summery{    
//                     h4,p{
//                     }
//                 }
//             }
            
//             footer{    
//                 .button-container{
//                 }                  
//             }
//         }
//     }
// }

// @media screen and (min-width: 1200px) {
//     .home{
//         main{
//             h1{

//             }
//         }

//         .products{
//             h2{

//             }

//             .search-bar{
//                 .form-group{
//                     label{

//                     }

//                     input{
//                         .result{
//                             ul{

//                             }
//                         }
//                     }
//                 }
//             }

//             .products-list{
//                 article{
//                     header{
//                         h3{

//                         }
//                     }

//                     section{
//                         img{
//                             span{

//                             }
//                         }
//                     }

//                     footer{
//                         .button-container{
//                             .button{
                                
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }

//     .product-details{    
//         article{            
//             header{                
//                 h3{
//                 }
//             }
            
//             section{                
//                 img{
//                 }
    
//                 span{                
//                 }
    
//                 .product-summery{    
//                     h4,p{
//                     }
//                 }
//             }
            
//             footer{    
//                 .button-container{
//                 }                  
//             }
//         }
//     }
// }