@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html body {
  background-color: var(--1st-bg-color);
}
html body .wrapper {
  background-color: var(--1st-bg-color);
  color: var(--1st-color);
}
html body .wrapper .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--nav-bg-color);
  color: var(--nav-color);
}
html body .wrapper .main-header .logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: var(--logo-color);
  font-size: var(--logo-font-size);
  font-weight: var(--logo-font-weight);
  font-family: var(--logo-font-family);
  font-style: var(--logo-font-style);
}
html body .wrapper .main-header .logo svg {
  stroke: var(--logo-color);
  fill: var(--logo-color);
  width: var(--logo-font-size);
  height: var(--logo-font-size);
}
html body .wrapper .main-header nav {
  color: var(--nav-color);
  font-size: var(--nav-font-size);
  font-weight: var(--nav-font-weight);
}
html body .wrapper .main-header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body .wrapper .main-header nav ul li {
  list-style: none;
}
html body .wrapper .main-header nav ul li a {
  text-decoration: none;
  display: block;
  padding: 16px;
  color: inherit;
}
html body .wrapper .main-header nav ul li a:hover {
  color: var(--nav-bg-color);
  background-color: var(--nav-color);
}
html body .wrapper .main-header .controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
html body .wrapper .main-header .controls .cart-trigger {
  position: relative;
  transition: all 0.5s;
}
html body .wrapper .main-header .controls .cart-trigger:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
html body .wrapper .main-header .controls .cart-trigger svg {
  stroke: var(--logo-color);
  fill: var(--logo-color);
  width: var(--logo-font-size);
  height: var(--logo-font-size);
}
html body .wrapper .main-header .controls .cart-trigger .item-count {
  position: absolute;
  top: 0px;
  right: -5px;
  background: red;
  color: white;
  width: 32px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 0.125rem;
  display: grid;
  place-items: center;
}
html body .wrapper .main-header .controls .login-controls, html body .wrapper .main-header .controls .registration {
  transition: all 0.5s;
}
html body .wrapper .main-header .controls .login-controls svg, html body .wrapper .main-header .controls .registration svg {
  stroke: var(--logo-color);
  fill: var(--logo-color);
  width: var(--logo-font-size);
  height: var(--logo-font-size);
}
html body .wrapper .main-header .controls .login-controls:hover, html body .wrapper .main-header .controls .registration:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
html body .wrapper aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: -moz-min-content;
  width: min-content;
  z-index: 10;
  background-color: var(--nav-bg-color);
  color: var(--nav-color);
}
html body .wrapper aside nav ul li a {
  display: block;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  transition: transform 0.2s ease-in-out 0.1s;
}
html body .wrapper aside nav ul li a:hover {
  color: var(--nav-bg-color);
  background-color: var(--nav-color);
  transform: scale(1.1) translateX(5px);
}
html body .wrapper aside nav ul li .active {
  filter: brightness(150%) saturate(50%);
  background-color: var(--nav-bg-color);
  color: var(--nav-color);
}
html body .wrapper .content {
  min-height: 100vh;
}
html body .wrapper .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 20;
  background-color: var(--nav-bg-color);
  color: var(--nav-color);
}
html body .wrapper .footer p a {
  text-decoration: none;
  color: inherit;
}
html body .wrapper .footer p a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=index.css.map */