// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

html{
    body{        
        background-color: var(--1st-bg-color);
        .wrapper{   
            background-color: var(--1st-bg-color);
            color: var(--1st-color);

            .main-header{   
                display: flex;
                justify-content: space-between;
                align-items: center;
                z-index: 20;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;

                background-color: var(--nav-bg-color);
                color: var(--nav-color);   

                .logo{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-decoration: none;

                    color: var(--logo-color);
                    font-size: var(--logo-font-size);
                    font-weight: var(--logo-font-weight);
                    font-family: var(--logo-font-family);
                    font-style: var(--logo-font-style);

                    svg{
                        stroke: var(--logo-color);
                        fill: var(--logo-color);                        
                        width: var(--logo-font-size);
                        height: var(--logo-font-size);
                    }
                }    
                
                nav{
                    // overflow: hidden;

                    color: var(--nav-color);
                    font-size: var(--nav-font-size);
                    font-weight: var(--nav-font-weight);

                    ul{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        li{         
                            list-style: none;

                            a{     
                                text-decoration: none; 
                                display: block;
                                padding: 16px;

                                color: inherit;

                                &:hover{
                                    color: var(--nav-bg-color);
                                    background-color: var(--nav-color);
                                }
                            }
                        }
                    }
                }
                
                .controls{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 1rem;

                    .cart-trigger{   
                        position: relative;  
                        transition: all .5s;

                        &:hover{
                            cursor: pointer;
                            transform: translateY(-5px);
                        }  

                        svg{
                            stroke: var(--logo-color);
                            fill: var(--logo-color);                        
                            width: var(--logo-font-size);
                            height: var(--logo-font-size);
                        }

                        .item-count{
                            position: absolute;
                            top: 0px;
                            right: -5px;
                            background: red;
                            color: white;
                            width: 32px;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            padding: .125rem;
                            display: grid;
                            place-items: center;
                        }
                    }
            
                    .login-controls,.registration{    
                        transition: all .5s;

                        svg{
                            stroke: var(--logo-color);
                            fill: var(--logo-color);                        
                            width: var(--logo-font-size);
                            height: var(--logo-font-size);
                        }

                        &:hover{
                            cursor: pointer;
                            transform: translateY(-5px);
                        }
                    }
                }        
            }            
                
            aside{   
                position: fixed;
                top: 0;
                left: 0;
                height: 100vh;
                width: min-content;
                z-index: 10;

                background-color: var(--nav-bg-color);
                color: var(--nav-color);  

                nav{

                    ul{        
                        li{
                            a{   
                                display: block;
                                padding: .5rem .5rem;
                                text-decoration: none;
                                color: inherit;
                                font-size: inherit;
                                font-weight: inherit;
                                font-family: inherit;
                                transition: transform .2s ease-in-out .1s;
                                
                                &:hover{
                                    color: var(--nav-bg-color);
                                    background-color: var(--nav-color); 
                                    
                                    transform: scale(1.1) translateX(5px);
                                }
                            }

                            .active{
                                filter:brightness(150%) saturate(50%);
                                background-color: var(--nav-bg-color);
                                color: var(--nav-color);
                            }
                        }
                    }
                }
        
                // .side-bar-toggle{         
                // }
            }

            .content{ 
                min-height: 100vh;
            }  
            
            .footer{      
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 1rem;                
                z-index: 20;

                background-color: var(--nav-bg-color);
                color: var(--nav-color);  

                p{  
                    a{     
                        text-decoration: none;

                        color: inherit;   

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }            
        
        // .aside-show{    
        //     .side-bar-toggle{
        //     }
        // }
    }
}