.login-div{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    z-index: 30;
    transform: translateY(-100%);
    transition: all 1s;

    background: hsla(var(--1st-bg-color-hue), var(--1st-bg-color-saturation), var(--1st-bg-color-light), .75);
    color: var(--1st-color);

    form{
        // padding: 1rem;
        // border: .1rem solid gray;
        // min-width: 500px;
        // max-width: 90%;
        // box-shadow: .1rem .1rem 1rem gray;
        // display: grid;
        // gap: .5rem;

        // background-color: var(--2nd-bg-color);
        // color: var(--2nd-color);

        // legend{
        //     text-align: center;
        //     text-transform: uppercase;
        // }

        span{
            font-size: var(--default-font-size);
            font-style: var(--default-font-style);
            font-weight: var(--default-font-weight);
            font-family: var(--default-font-family);

            a{
                color: inherit;

                font-size: inherit;
                font-style: inherit;
                font-weight: inherit;
                font-family: inherit;

                &:hover{
                    color: blue;
                }
            }
        }

        // .error{
        //     color: red;
        // }

        // .btn-container{
        //     display: flex;
        //     justify-content: space-between;
        //     align-items: center;
        // }
    }
}

.show{
    transform: translateY(0%);
}