.settings-index{
    padding: 0rem 1rem 1rem 1rem;   

    nav{
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            li{
                list-style: none;
                padding: .5rem 1rem;
                flex-grow: 1;
                text-align: center;

                &:hover{
                    background-color: var(--nav-color);
                    color: var(--nav-bg-color);  
                    
                    cursor: pointer;
                }
            }

            .active{
                filter:brightness(150%) saturate(50%);
            }
        }
    }

    .panels{
        position: relative;
        
        .backgrounds-and-colors{
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            gap: .5rem;
            padding: .5rem;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);            
            border-radius: var(--section2-border-radius);
            
            .container{
                display: grid;
                gap: .5rem;
    
                .output{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    gap: .5rem;
                    padding: .5rem;
                    height: 100%;
        
                    background-color: var(--4th-bg-color);
                    color: var(--4th-color);
                    border-radius: var(--section2-border-radius);
                    
                    .first-div{
                        flex-grow: 1;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        gap: .5rem;
                        padding: .5rem;
        
                        background-color: var(--1st-bg-color);
                        color: var(--1st-color);
                        border-radius: var(--section3-border-radius);
                        
                        .first-span{
                            color: inherit;
                        }
                        
                        .second-div{
                            flex-grow: 1;
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: center;
                            gap: .5rem;
                            padding: .5rem;
                            
                            background-color: var(--2nd-bg-color);
                            color: var(--2nd-color);
                            border-radius: var(--section3-border-radius);
                            
                            span{
                                color: inherit;
                            }
                            
                            .third-div{
                                flex-grow: 1;
                                width: 100%;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: center;
                                gap: .5rem;
                                padding: .5rem;
        
                                background-color: var(--3rd-bg-color);
                                color: var(--3rd-color);
                                border-radius: var(--section3-border-radius);
                                
                                span{
                                    color: inherit;
                                }
                                
                                .fourth-div{
                                    flex-grow: 1;
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    align-items: center;
                                    gap: .5rem;
                                    padding: .5rem;
        
                                    background-color: var(--4th-bg-color);
                                    color: var(--4th-color);
                                    border-radius: var(--section3-border-radius);
                                    
                                    span{
                                        color: inherit;
                                    }
                                    
                                    .fifth-div{
                                        flex-grow: 1;
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: space-between;
                                        align-items: center;
                                        gap: .5rem;
                                        padding: .5rem;
        
                                        background-color: var(--5th-bg-color);
                                        color: var(--5th-color);
                                        border-radius: var(--section3-border-radius);
                                        
                                        span{
                                            color: inherit;
                                        }
                                        
                                        .sixth-div{
                                            flex-grow: 1;
                                            width: 100%;
                                            display: flex;
                                            flex-direction: column;
                                            justify-content: space-between;
                                            align-items: center;
                                            gap: .5rem;
                                            padding: .5rem;
                                            height: min-content;
        
                                            background-color: var(--6th-bg-color);
                                            color: var(--6th-color);
                                            border-radius: var(--section3-border-radius);
                                            
                                            span{
                                                color: inherit;
                                            }    
                                            
                                            .nav{
                                                padding: 0rem 1rem;
                                                display: flex;
                                                justify-content: space-between;
                                                align-items: center;
                                                width: 100%;
    
                                                color: var(--nav-color);
                                                background-color: var(--nav-bg-color);                                            
                                                font-size: var(--nav-font-size);
                                                font-family: var(--nav-font-family);
                                                font-weight: var(--nav-font-weight);
                                                font-style: var(--nav-font-style);
    
                                                .logo{
                                                    color: var(--logo-color);
                                                    font-size: var(--logo-font-size);
                                                    font-family: var(--logo-font-family);
                                                    font-weight: var(--logo-font-weight);
                                                    font-style: var(--logo-font-style);
                                                }      
                                                
                                                ul{
                                                    display: flex;
                                                    justify-content: space-between;
                                                    align-items: center;
    
                                                    li{
                                                        list-style: none;
                                                        padding: .5rem 1rem;
                                                        white-space: nowrap;
    
                                                        font-size: inherit;
                                                        font-family: inherit;
                                                        font-weight: inherit;
                                                        font-style: inherit;
    
                                                        &:hover{
                                                            background-color: var(--nav-color);
                                                            color: var(--nav-bg-color);  
                                                            
                                                            cursor: pointer;
                                                        }
                                                    }
                                                }
                                            }
    
                                            .banner{
                                                color: var(--banner-color);
                                                font-size: var(--banner-font-size);                                            
                                                font-family: var(--banner-font-family);
                                                font-weight: var(--banner-font-weight);
                                                font-style: var(--banner-font-style);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                .controls{   
                    display: grid;
                    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
                    gap: .5rem;
                    overflow-y: auto;
                    
                    background-color: var(--3rd-bg-color);
                    color: var(--3rd-color);

                    
                    .sections{
                        flex-grow: 1;
                        display: grid;
                        gap: .5rem;
                        padding: .5rem;
                        
                        background-color: var(--4th-bg-color);
                        color: var(--4th-color);
                        border-radius: var(--section2-border-radius);
                        
                        .form-group{
                            padding: .5rem;
                            display: grid;
                            grid-template-columns: 1fr auto auto;
                            grid-template-rows: auto;
                            justify-items: center;
                            align-items: center;
                            gap: .5rem;
                            
                            background-color: var(--5th-bg-color);
                            color: var(--5th-color);
                            border-radius: var(--section2-border-radius);
                            
                            label{
                                white-space: nowrap;
                                justify-self: start;
                            }
                            
                            input{
                                justify-self: end;
                                width: 2rem;
                                aspect-ratio: 1;
                                border-radius: 50%;
                                border: none;
                                outline: none;
                                padding: none;
                                background: none;
                            }

                            select{
                                justify-self: end;
                                max-width: fit-content;
                            }
                        }
                    }
                }
            }
    
            .button-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: .5rem;
                padding: .5rem;
                
                background-color: var(--4th-bg-color);
                color: var(--4th-color);
                border-radius: var(--section2-border-radius);
            }
    
        }
    
        .fonts{
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            gap: .5rem;
            padding: .5rem;        
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;    
            overflow-y: auto;
            
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);  
            border-radius: var(--section2-border-radius);
            
            .sections{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                padding: .5rem;
                gap: .5rem;
                
                background-color: var(--4th-bg-color);
                color: var(--4th-color);  
                border-radius: var(--section3-border-radius);
                
                h3{
                    grid-column: 1/-1;
                }
                
                .form-group{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: .5rem;
                    flex-grow: 1;
                    
                    background-color: var(--5th-bg-color);
                    color: var(--5th-color); 
                    border-radius: var(--section3-border-radius);
                    
                    label{
                        white-space: nowrap;
                    }
                    
                    input,select{
                        text-align: center;
                    }

                    input[type=range]{
                        padding: .5rem 0rem;
                    }
                }
                
                .output{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding: .5rem;
                    flex-grow: 1;

                    background-color: var(--5th-bg-color);
                    color: var(--5th-color); 
                    border-radius: var(--section3-border-radius);
                    
                    *{
                        white-space: nowrap;
                    }

                    .logo{
                        color: var(--logo-color);
                        font-size: var(--logo-font-size);
                        font-family: var(--logo-font-family);
                        font-weight: var(--logo-font-weight);
                        font-style: var(--logo-font-style);
                    }

                    .default-text{
                        font-size: var(--default-text-font-size);
                        font-family: var(--default-text-font-family);
                        font-weight: var(--default-text-font-weight);
                        font-style: var(--default-text-font-style);
                    }
                }
            }

            .button-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .5rem;
                gap: .5rem;
                
                background-color: var(--4th-bg-color);
                color: var(--4th-color); 
                border-radius: var(--section3-border-radius);
            }
        }

        .buttons{
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            gap: .5rem;
            padding: .5rem;        
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;    
            overflow-y: auto;
            
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);  
            border-radius: var(--section2-border-radius);
            
            .buttons-list{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                padding: .5rem;
                gap: .5rem;
                
                background-color: var(--4th-bg-color);
                color: var(--4th-color);  
                border-radius: var(--section3-border-radius);
            }
            
            .controls{
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
                gap: .5rem;
                overflow-y: auto;
                
                background-color: var(--3rd-bg-color);
                color: var(--3rd-color);
                border-radius: var(--section3-border-radius);
                
                .section{
                    flex-grow: 1;
                    display: grid;
                    padding: .5rem;
                    gap: .5rem;
                    
                    background-color: var(--4th-bg-color);
                    color: var(--4th-color);  
                    border-radius: var(--section3-border-radius);
                    
                    .form-group{
                        padding: .5rem;
                        display: flex;
                        justify-content: space-between;
                        
                        background-color: var(--5th-bg-color);
                        color: var(--5th-color);
                        border-radius: var(--section3-border-radius);
                        
                        label{
                            white-space: nowrap;
                        }

                        input{
                            width: 2rem;
                            aspect-ratio: 1;
                            border-radius: 50%;
                            border: none;
                            outline: none;
                            padding: none;
                            background: none;
                        }
                    }
                }
            }

            .button-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: .5rem;
                padding: .5rem;
    
                background-color: var(--4th-bg-color);
                color: var(--4th-color);
                border-radius: var(--section3-border-radius);
            }
        }

        .logo-banner{
            display: none;
            flex-direction: column;
            // justify-content: flex-start;
            // align-items: center;
            gap: .5rem;
            padding: .5rem;
            
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color); 
            border-radius: var(--section2-border-radius);
            
            .sections{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                gap: .5rem;
                padding: .5rem;
                
                background-color: var(--4th-bg-color);
                color: var(--4th-color); 
                border-radius: var(--section3-border-radius);
                
                .form-group{
                    flex-grow: 1;
                    padding: .5rem;
                    
                    background-color: var(--5th-bg-color);
                    color: var(--5th-color); 
                    border-radius: var(--section3-border-radius);
                }

                .form-image{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    // max-width: 66%;
                    padding: .5rem;
                    gap: .5rem;
                    width: 100%;

                    background-color: var(--5th-bg-color);
                    color: var(--5th-color); 
                    border-radius: var(--section3-border-radius);

                    label{
                        white-space: nowrap;
                    }

                    img{
                        max-width: 100%;
                        padding: .5rem;
                        border: .1rem solid black;
                        object-fit: cover;
                        transition: border .1s ease-in-out .1s;
                        
                        border-radius: var(--section3-border-radius);

                        &:hover{
                            cursor: pointer;
                            border: .1rem solid white;
                        }
                    }
                    
                    img.logo{
                        aspect-ratio: 1;                      
                    }
                    
                    img.banner{                  
                        aspect-ratio: 16/10;
                    }
                }
                
                .logo{                   
                    flex-grow: 1;
                }
                
                .banner{                 
                    flex-grow: 1;
                }

                &:last-child{
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    
        .miscellaneous{
            display: none;
            flex-direction: column;
            justify-content: space-between;
            align-items: stretch;
            gap: .5rem;
            padding: .5rem;        
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            // height: 75vh;            
            
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);  
            border-radius: var(--section2-border-radius);
            
            .output{   
                padding: .5rem;        
                
                background-color: var(--4th-bg-color);
                color: var(--4th-color); 
                border-radius: var(--section3-border-radius);

                .section1{
                    display: grid;
                    gap: .5rem;
                    padding: 1rem;        

                    background-color: var(--5th-bg-color);
                    color: var(--4th-color);  
                    border-radius: var(--section1-border-radius);
                    
                    form{                  
                        background-color: var(--6th-bg-color);
                        color: var(--6th-color); 
                        
                        .section2{
                            padding: .5rem;
                            
                            background-color: var(--5th-bg-color);
                            color: var(--5th-color); 
                            border-radius: var(--section2-border-radius);
                            
                            .hidden-div{
                                display: flex;
                                gap: .5rem;

                                .section3{
                                    width: 50%;
                                    display: grid;
                                    gap: .5rem;
                                    padding: .5rem;        
        
                                    background-color: var(--4th-bg-color);
                                    color: var(--4th-color);  
                                    border-radius: var(--section3-border-radius);                                    
                                }
                            }
                            
                        }                        
                    }
                }
            }

            .controls{
                padding: .5rem;  
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
                gap: .5rem;

                background-color: var(--4th-bg-color);
                color: var(--4th-color); 
                border-radius: var(--section3-border-radius);
                
                .form-group{
                    padding: .5rem; 
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: auto auto;

                    background-color: var(--5th-bg-color);
                    color: var(--5th-color);  
                    border-radius: var(--section3-border-radius);
                    
                    input{
                        padding: .25rem 0rem;
                    }
                }
            }

            .button-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: .5rem;
                padding: .5rem;
    
                background-color: var(--4th-bg-color);
                color: var(--4th-color);
                border-radius: var(--section3-border-radius);
            }
        }
    
        .div-active{
            display: flex;
        }
    }    
}

.image-viewer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease-in-out .1s;

    img{
        max-width: 90%;
        max-height: 90vh;
        // aspect-ratio: 16/10;
        object-fit: cover;
    }

    .image-viewer-close{
        position: absolute;
        top: 1rem;
        right: 1rem;

        &:hover{
            cursor: pointer;
            fill: white;
            stroke: white;
        }
    }
}

.image-viewer-hide{
    transform: translateY(-100%);
}