*, *::after, *::before {
  box-sizing: border-box;
  margin: 0rem;
  padding: 0rem;
  font-size: var(--default-font-size);
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  font-family: var(--h2-font-family);
  font-style: var(--h2-font-style);
}

h3 {
  text-align: center;
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  font-family: var(--h3-font-family);
  font-style: var(--h3-font-style);
}

h4, h5, h6 {
  text-align: center;
  font-size: var(--h4-font-size);
  font-weight: var(--h4-font-weight);
  font-family: var(--h4-font-family);
  font-style: var(--h4-font-style);
}

legend {
  text-align: center;
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  font-family: var(--h2-font-family);
  font-style: var(--h2-font-style);
}

label {
  font-size: var(--label-font-size);
  font-weight: var(--label-font-weight);
  font-family: var(--label-font-family);
  font-style: var(--label-font-style);
}

.text-field {
  outline: none;
  padding: 0.5rem;
  display: block;
  transition: all 0.2s 0.1s;
  width: 100%;
  font-size: var(--text-field-font-size);
  font-weight: var(--text-field-font-weight);
  font-family: var(--text-field-font-family);
  font-style: var(--text-field-font-style);
  border-radius: var(--text-field-border-radius);
  border: 1px solid gray;
}
.text-field:hover, .text-field:focus {
  box-shadow: inset 0rem 0rem 0.25rem 0.25rem hsl(178, 49%, 90%);
}

select {
  outline: none;
  padding: 0.5rem;
  display: block;
  transition: all 0.2s 0.1s;
  width: 100%;
  font-size: var(--text-field-font-size);
  font-weight: var(--text-field-font-weight);
  font-family: var(--text-field-font-family);
  font-style: var(--text-field-font-style);
  border-radius: var(--text-field-border-radius);
  border: 1px solid gray;
}

.button {
  --text-color: hsl(0, 0%, 0%);
  --background-color: hsl(0, 0%, 100%);
  --border-color: hsl(0, 0%, 0%);
  text-decoration: none;
  outline: none;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.1s;
  display: inline-block;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  font-size: larger;
  font-weight: normal;
  font-family: inherit;
}
.button:hover {
  --background-color: hsl(0, 0%, 90%);
  transform: translateY(-5px);
  box-shadow: 0px 5px 5px black;
}
.button:active {
  --background-color: hsl(0, 0%, 95%);
  transform: translateY(0.1rem);
}

.table {
  border-collapse: collapse;
  width: 100%;
  background-color: var(--2nd-bg-color);
  color: var(--2nd-color);
}
.table thead {
  background-color: var(--3rd-bg-color);
  color: var(--3rd-color);
}
.table thead tr th {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-size: var(--th-font-size);
  font-weight: var(--th-font-weight);
  font-family: var(--th-font-family);
  font-style: var(--th-font-style);
}
.table tbody {
  background-color: var(--3rd-bg-color);
  color: var(--3rd-color);
}
.table tbody tr {
  background-color: var(--4th-bg-color);
  color: var(--4th-color);
}
.table tbody tr td {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  font-size: var(--td-font-size);
  font-weight: var(--td-font-weight);
  font-family: var(--td-font-family);
  font-style: var(--td-font-style);
}
.table tbody tr:hover {
  cursor: pointer;
  filter: brightness(200%);
}
.table tbody tr:hover td {
  filter: brightness(50%);
}
.table tbody tr:nth-child(2n) {
  background-color: var(--5th-bg-color);
  color: var(--5th-color);
}
.table tbody tr:nth-child(2n) td {
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  font-size: var(--td-font-size);
  font-weight: var(--td-font-weight);
  font-family: var(--td-font-family);
  font-style: var(--td-font-style);
}
.table tbody tr:nth-child(2n):hover {
  cursor: pointer;
  filter: brightness(200%);
}
.table tbody tr:nth-child(2n):hover td {
  filter: brightness(50%);
}
.table tfoot {
  background-color: var(--3rd-bg-color);
  color: var(--3rd-color);
}
.table tfoot tr td {
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  font-size: var(--th-font-size);
  font-weight: var(--th-font-weight);
  font-family: var(--th-font-family);
  font-style: var(--th-font-style);
}
.table .left {
  text-align: left;
}
.table .right {
  text-align: right;
}

.form {
  padding: 1rem;
  min-width: 500px;
  max-width: 90%;
  box-shadow: 0.1rem 0.1rem 1rem gray;
  display: grid;
  gap: 0.5rem;
  border: 0.1rem solid var(--2nd-color);
  border-radius: var(--div2-border-radius);
  background-color: var(--2nd-bg-color);
  color: var(--2nd-color);
}
.form legend {
  grid-template-columns: 1/-1;
}
.form .form-group {
  padding: 0.5rem;
  background-color: var(--3rd-bg-color);
  color: var(--2rd-color);
  border-radius: var(--div3-border-radius);
}
.form .form-group .error {
  font-size: var(--default-font-size);
  font-weight: var(--default-font-weight);
  font-family: var(--default-font-family);
  font-style: var(--default-font-style);
  color: red;
}
.form .button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--3rd-bg-color);
  color: var(--2rd-color);
  border-radius: var(--div3-border-radius);
}

.violet {
  --text-color: black;
  --background-color: hsl(300, 76%, 72%);
  --border-color: hsl(300, 76%, 72%);
}
.violet:hover {
  --background-color: hsl(300, 76%, 62%);
  --border-color: hsl(300, 76%, 62%);
}
.violet:active {
  --background-color: hsl(300, 76%, 77%);
  --border-color: hsl(300, 76%, 77%);
}

.indigo {
  --text-color: white;
  --background-color: hsl(275, 100%, 25%);
  --border-color: hsl(275, 100%, 25%);
}
.indigo:hover {
  --background-color: hsl(275, 100%, 15%);
  --border-color: hsl(275, 100%, 15%);
}
.indigo:active {
  --background-color: hsl(275, 100%, 30%);
  --border-color: hsl(275, 100%, 30%);
}

.blue {
  --text-color: white;
  --background-color: hsl(240,100%,50%);
  --border-color: hsl(240, 100%, 50%);
}
.blue:hover {
  --background-color: hsl(240, 100%, 40%);
  --border-color: hsl(240, 100%, 40%);
}
.blue:active {
  --background-color: hsl(240, 100%, 55%);
  --border-color: hsl(240, 100%, 55%);
}

.green {
  --text-color: white;
  --background-color: hsl(120, 100%, 25%);
  --border-color: hsl(120, 100%, 25%);
}
.green:hover {
  --background-color: hsl(120, 100%, 15%);
  --border-color: hsl(120, 100%, 15%);
}
.green:active {
  --background-color: hsl(120, 100%, 30%);
  --border-color: hsl(120, 100%, 30%);
}

.yellow {
  --text-color: black;
  --background-color: hsl(60, 100%, 50%);
  --border-color: hsl(60, 100%, 50%);
}
.yellow:hover {
  --background-color: hsl(60, 100%, 40%);
  --border-color: hsl(60, 100%, 40%);
}
.yellow:active {
  --background-color: hsl(60, 100%, 55%);
  --border-color: hsl(60, 100%, 55%);
}

.orange {
  --text-color: hsl(200,18,46);
  --background-color: hsl(39, 100%, 50%);
  --border-color: hsl(39, 100%, 50%);
}
.orange:hover {
  --background-color: hsl(39, 100%, 40%);
  --border-color: hsl(39, 100%, 40%);
}
.orange:active {
  --background-color: hsl(39, 100%, 55%);
  --border-color: hsl(39, 100%, 55%);
}

.red {
  --text-color: white;
  --background-color: hsl(0, 100%, 50%);
  --border-color: hsl(0, 100%, 50%);
}
.red:hover {
  --background-color: hsl(0, 100%, 40%);
  --border-color: hsl(0, 100%, 40%);
}
.red:active {
  --background-color: hsl(0, 100%, 55%);
  --border-color: hsl(0, 100%, 55%);
}

.gray {
  --text-color: white;
  --background-color: hsl(0, 0%, 50%);
  --border-color: hsl(0, 0%, 50%);
}
.gray:hover {
  --background-color: hsl(0, 0%, 40%);
  --border-color: hsl(0, 0%, 40%);
}
.gray:active {
  --background-color: hsl(0, 0%, 55%);
  --border-color: hsl(0, 0%, 55%);
}

.outline {
  border: 2px solid var(--border-color);
  background: none;
  color: black;
  text-shadow: 1px 1px gray;
}
.outline:hover {
  color: var(--text-color);
  background: var(--background-color);
}

.shadow {
  box-shadow: 0rem 0.1rem 0rem 0.1rem rgba(128, 128, 128, 0.5);
}

.click-shadow:active {
  box-shadow: 0 0 2rem 0.1rem var(--border-color);
}/*# sourceMappingURL=my-design.css.map */