// :root{

    // --1st-bg-color: hsl(var(--1st-bg-color-hue), var(--1st-bg-color-saturation), var(--1st-bg-color-light));
    // --2nd-bg-color: hsl(var(--2nd-bg-color-hue), var(--2nd-bg-color-saturation), var(--2nd-bg-color-light));
    // --3rd-bg-color: hsl(var(--3rd-bg-color-hue), var(--3rd-bg-color-saturation), var(--3rd-bg-color-light));
    // --4th-bg-color: hsl(var(--4th-bg-color-hue), var(--4th-bg-color-saturation), var(--4th-bg-color-light));
    // --5th-bg-color: hsl(var(--5th-bg-color-hue), var(--5th-bg-color-saturation), var(--5th-bg-color-light));
    // --6th-bg-color: hsl(var(--6th-bg-color-hue), var(--6th-bg-color-saturation), var(--6th-bg-color-light));
    // --table-hover-bg-color: hsl(var(--table-hover-bg-color-hue), var(--table-hover-bg-color-saturation), var(--table-hover-bg-color-light));

    // --1st-color: hsl(var(--1st-color-hue), var(--1st-color-saturation), var(--1st-color-light));
    // --2nd-color: hsl(var(--2nd-color-hue), var(--2nd-color-saturation), var(--2nd-color-light));
    // --3rd-color: hsl(var(--3rd-color-hue), var(--3rd-color-saturation), var(--3rd-color-light));
    // --4th-color: hsl(var(--4th-color-hue), var(--4th-color-saturation), var(--4th-color-light));
    // --5th-color: hsl(var(--5th-color-hue), var(--5th-color-saturation), var(--5th-color-light));
    // --6th-color: hsl(var(--6th-color-hue), var(--6th-color-saturation), var(--6th-color-light));
    // --table-hover-color: hsl(var(--table-hover-color-hue), var(--table-hover-color-saturation), var(--table-hover-color-light));

    // --logo-color: hsl(var(--logo-color-hue),var(--logo-color-saturation),var(--logo-color-light));
    // --nav-color: hsl(var(--nav-color-hue),var(--nav-color-saturation),var(--nav-color-light));
    // --banner-color: hsl(var(--banner-color-hue),var(--banner-color-saturation),var(--banner-color-light));
// }

*,*::after,*::before{
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    font-size: var(--default-font-size);
}

h1{
    text-align: center;

    color: var(--banner-color);
    font-size: var(--banner-font-size);
    font-weight: var(--banner-font-weight);
    font-family: var(--banner-font-family);
    font-style: var(--banner-font-style);
}

h2{
    text-align: center;

    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    font-family: var(--h2-font-family);
    font-style: var(--h2-font-style);
}

h3{
    text-align: center;

    font-size: var(--h3-font-size);
    font-weight: var(--h3-font-weight);
    font-family: var(--h3-font-family);
    font-style: var(--h3-font-style);
}

h4,h5,h6{
    text-align: center;

    font-size: var(--h4-font-size);
    font-weight: var(--h4-font-weight);
    font-family: var(--h4-font-family);
    font-style: var(--h4-font-style);
}

legend{
    text-align: center;

    font-size: var(--h2-font-size);
    font-weight: var(--h2-font-weight);
    font-family: var(--h2-font-family);
    font-style: var(--h2-font-style);
}

label{
    font-size: var(--label-font-size);
    font-weight: var(--label-font-weight);
    font-family: var(--label-font-family);
    font-style: var(--label-font-style);
}

.text-field{
    outline: none;
    padding: 0.25rem .5rem;
    display: block;            
    transition: all .2s .1s;
    width: 100%;
    
    font-size: var(--text-field-font-size);
    font-weight: var(--text-field-font-weight);
    font-family: var(--text-field-font-family);
    font-style: var(--text-field-font-style);
    border-radius: var(--text-field-border-radius);
    border: 1px solid gray;
    
    &:hover,&:focus{
        box-shadow: inset 0rem 0rem .25rem .25rem hsl(178, 49%, 90%);
    }
}

select{
    outline: none;
    padding: .25rem .5rem;
    display: block;         
    transition: all .2s .1s;
    width: 100%;

    font-size: var(--text-field-font-size);
    font-weight: var(--text-field-font-weight);
    font-family: var(--text-field-font-family);
    font-style: var(--text-field-font-style);
    border-radius: var(--text-field-border-radius);
    border: 1px solid gray;
}

.table{
    // border-collapse: collapse;
    width: 100%;

    color: #008080;
    
    background-color: var(--2nd-bg-color);
    color: var(--2nd-color);

    thead{
        background-color: var(--3rd-bg-color);
        color: var(--3rd-color);

        tr{
            th{
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                padding: .5rem 1rem;                
                // border-left: 1px solid var(--3rd-color);
                // border-right: 1px solid var(--3rd-color);
    
                font-size: var(--th-font-size);
                font-weight: var(--th-font-weight);
                font-family: var(--th-font-family);
                font-style: var(--th-font-style);
            }
        }        
    }

    tbody{ 
        background-color: var(--3rd-bg-color);
        color: var(--3rd-color);
        
        tr{  
            background-color: var(--4th-bg-color);
            color: var(--4th-color);
            transition: all .1s;

            td{
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                padding: .25rem .5rem;     
                
                font-size: var(--td-font-size);
                font-weight: var(--td-font-weight);
                font-family: var(--td-font-family);
                font-style: var(--td-font-style);
            }  
        }

        tr:nth-child(2n){
            background-color: var(--5th-bg-color);
            color: var(--5th-color);
            transition: all .1s;

            td{
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;
                padding: .25rem .5rem;     
                
                font-size: var(--td-font-size);
                font-weight: var(--td-font-weight);
                font-family: var(--td-font-family);
                font-style: var(--td-font-style);
            }
        }

        .clickable{
            &:hover{
                scale: 1.01;
            }
        }
    }

    tfoot{
        background-color: var(--3rd-bg-color);
        color: var(--3rd-color);

        tr{
            td{
                text-align: center;
                vertical-align: middle;
                font-weight: bold;
                white-space: nowrap;
                padding: .5rem 1rem;  
                
                font-size: var(--th-font-size);
                font-weight: var(--th-font-weight);
                font-family: var(--th-font-family);
                font-style: var(--th-font-style);
            }
        }
    }

    .left{
        text-align: left;
    }

    .right{
        text-align: right;
    }
}

form{
    padding: .5rem;
    box-shadow: .1rem .1rem 1rem gray;
    display: grid;
    gap: .5rem;    
    
    border: .1rem solid var(--2nd-color);
    border-radius: var(--form-border-radius);
    background-color: var(--2nd-bg-color);
    color: var(--2nd-color);

    legend{
        grid-template-columns: 1/-1;
        font-size: var(--h2-font-size);
        font-weight: var(--h2-font-weight);
        font-family: var(--h2-font-family);
        font-style: var(--h2-font-style);
    }

    .form-group{
        padding: .5rem;

        background-color: var(--3rd-bg-color);
        color: var(--2rd-color);
        border-radius: var(--section2-border-radius);

        // label{

        // }

        // .text-field{

        // }

        .error{
            font-size: var(--default-font-size);
            font-weight: var(--default-font-weight);
            font-family: var(--default-font-family);
            font-style: var(--default-font-style);

            color: red;
        }
    }

    .button-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5rem;

        background-color: var(--3rd-bg-color);
        color: var(--2rd-color);
        border-radius: var(--section2-border-radius);
    }
}

nav{
    color: var(--nav-color);
    background-color: var(--nav-bg-color);
    font-size: var(--nav-font-size);
    font-weight: var(--nav-font-weight);
    font-style: var(--nav-font-style);
    font-family: var(--nav-font-family);
    
    ul{
        color: inherit;
        background-color: inherit;
        font-size: inherit;
        font-weight: inherit;
        font-style: inherit;
        font-family: inherit;
        
        li{
            color: inherit;
            background-color: inherit;
            font-size: inherit;
            font-weight: inherit;
            font-style: inherit;
            font-family: inherit;

            list-style: none;
        }
    }
}

.button{
    color: var(--button-default-color);
    // background-color: blue;
    background-color: var(--button-default-bg-color);
    border: 1px solid var(--button-default-color);
    border-radius: var(--button-border-radius);
    font-size: var(--text-field-font-size);
    font-weight: var(--text-field-font-weight);
    font-family: var(--text-field-font-family);    
    font-style: var(--text-field-font-style);
    
    text-decoration: none;
    outline: none;
    padding: .25rem .5rem;
    cursor: pointer;
    transition: all .1s;
    display: inline-block;    

    &:hover{
        filter:saturate(75%) brightness(75%);
        transform: translateY(-5px);
        box-shadow: 0px 5px 5px black;
    }
    
    &:active{
        filter: saturate(125%) brightness(125%);
        transform: translateY(.1rem);
        box-shadow: 0 0 2rem .1rem var(--button-dark-bg-color);
    }
}

.primary{
    color: var(--button-primary-color);
    background-color: var(--button-primary-bg-color);
    border: 1px solid var(--button-primary-color);

    &:active{
        box-shadow: 0 0 2rem .1rem var(--button-primary-bg-color);
    }  
}
.secondary{
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-bg-color);
    border: 1px solid var(--button-secondary-color);

    &:active{
        box-shadow: 0 0 2rem .1rem var(--button-secondary-bg-color);
    }  
}
.success{
    color: var(--button-success-color);
    background-color: var(--button-success-bg-color);
    border: 1px solid var(--button-success-color);

    &:active{
        box-shadow: 0 0 2rem .1rem var(--button-success-bg-color);
    }  
}
.info{
    color: var(--button-info-color);
    background-color: var(--button-info-bg-color);
    border: 1px solid var(--button-info-color);

    &:active{
        box-shadow: 0 0 2rem .1rem var(--button-info-bg-color);
    }  
}
.warning{
    color: var(--button-warning-color);
    background-color: var(--button-warning-bg-color);
    border: 1px solid var(--button-warning-color);

    &:active{
        box-shadow: 0 0 2rem .1rem var(--button-warning-bg-color);
    }  
}
.danger{
    color: var(--button-danger-color);
    background-color: var(--button-danger-bg-color);
    border: 1px solid var(--button-danger-color);

    &:active{
        box-shadow: 0 0 2rem .1rem var(--button-danger-bg-color);
    }  
}
.light{
    color: var(--button-light-color);
    background-color: var(--button-light-bg-color);
    border: 1px solid var(--button-light-color);

    &:active{
        box-shadow: 0 0 2rem .1rem var(--button-light-bg-color);
    }  
}
.dark{
    color: var(--button-dark-color);
    background-color: var(--button-dark-bg-color);
    border: 1px solid var(--button-dark-color);

    &:active{
        box-shadow: 0 0 2rem .1rem var(--button-dark-bg-color);
    }  
}

.outline{
    border: 2px solid var(--border-color);
    background: none;
    color: black;
    text-shadow: 1px 1px gray;
    
    &:hover{
        color: var(--text-color);
        background: var(--background-color);       
    }
}

.shadow{    
    box-shadow: 0rem .1rem 0rem .1rem rgba($color: gray, $alpha: .5);
}

// .click-shadow{
//     &:active{
//         box-shadow: 0 0 2rem .1rem var(--border-color);
//     }    
// }