.user-show{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    padding: 1rem;

    .infos{
        display: grid;
        padding: .5rem;
        gap: .5rem;
        flex-grow: 2;   
        
        background-color: var(--3rd-bg-color);
        color: var(--3rd-color);
        
        h2{
            text-align: center;
        }

        .info{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            border-bottom: .1rem dashed gray;
            padding: .5rem;

            background-color: var(--4th-bg-color);
            color: var(--4th-color);
            
            label{
                font-size: larger;
                font-weight: bolder;
            }
            
            span{
                padding: 0;
                margin: 0;
                text-align: right;
                font-style: italic;
            }
        }

        .btn-container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            padding: .5rem;

            background-color: var(--4th-bg-color);
            color: var(--4th-color);
        }
    }
    
    .image{
        max-width: 50%;
        min-width: 200px;
        flex-grow: 2;
        padding: .5rem;
        border: 1rem solid var(--3rd-color);

        background-color: var(--3rd-bg-color);
        color: var(--3rd-color);
        
        img{
            width: 100%;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }
}

.user-delete{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    z-index: 30;   
    transition: all 1s;
    transform: translateY(-100%);
    
    color: var(--1st-color);
    background-color: hsla(var(--1st-bg-color-hue), var(--1st-bg-color-saturation), var(--1st-bg-color-light), .5);
    
    form{
        border: .1rem solid gray;
        padding: 1rem;
        min-width: 500px;
        max-width: 90%;
        display: grid;
        gap: .5rem;
        
        background-color: var(--2nd-bg-color);
        color: var(--2nd-color);

        legend{
            text-align: center;
        }

        .form-group{
            padding: .5rem;
            
            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);

            label{
                margin: 0;
            }
        }
        
        .btn-container{
            padding: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;

            background-color: var(--3rd-bg-color);
            color: var(--3rd-color);
        }
    }
}

.delete-show{
    transform: translateY(0%);
}