.permission-index{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    height: 100%;
    padding: 1rem;      
    
    h2{
        text-align: center;
    }
    
    .controls{
        display: flex;
        justify-content: stretch;
        align-items: flex-end;
        gap: .5rem;
        padding: .5rem;
        
        color: var(--2nd-color);
        background-color: var(--2nd-bg-color);
        border-radius: var(--section1-border-radius);
        
        .form-group{
            display: grid;
            gap: .5rem;

            border-radius: var(--section2-border-radius);
        }
        
        .stretch{
            flex-grow: 1;

            border-radius: var(--section2-border-radius);
        }
    }
    
    .table-container{
        padding: .5rem;
        display: grid;
        gap: .5rem;
        
        color: var(--2nd-color);
        background-color: var(--2nd-bg-color);
        border-radius: var(--section1-border-radius);
        
        table{
            thead{        
                tr{
                    th{
                    }
                }
            }
            
            tbody{
                tr{                    
                    .no-data{
                        color: red;
                        font-size: xx-large;
                    }
                }

                .clickable{
                    cursor: pointer;
                }
            }

            .left{
                text-align: left;
            }
    
            .right{
                text-align: right;
            }
        }

        nav{
            background: none;

            border-radius: var(--section2-border-radius);
            
            .pagination{
                // border: .1rem solid green;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: .25rem;

                border-radius: var(--section3-border-radius);
                
                .page-item{
                    // border: .1rem solid blue;
                    
                    background-color: var(--nav-bg-color);
                    color: var(--nav-color);
                    border-radius: var(--section3-border-radius);
                    
                    &:hover{
                        color: var(--nav-bg-color);
                        background-color: var(--nav-color);
                    }
                    
                    .page-link{
                        padding: .5rem;
                        display: block;
                        text-decoration: none;
                        color: inherit;
                    }
                }

                .active,.disabled{
                    background: none;
                    color: var(--nav-color);
                    filter: saturate(50%) hue-rotate(120deg);
                    
                    border-radius: var(--section3-border-radius);

                    &:hover{
                        background: none;
                        color: var(--nav-color);
                    }
                }

                .active{
                    border: .1rem solid var(--nav-bg-color);
                }
            }
        }
    }
}